# Terraform local directories
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash logs
crash.log

# Sensitive variable files
*.tfvars
*.tfvars.json

# OS-specific files
.DS_Store
Thumbs.db
