
name: Terraform CI/CD

on:
  push:
    branches:
      - main
      - 'feature/**'
  workflow_dispatch:
    inputs:
      action:
        type: choice
        description: "Select Terraform Operation"
        default: plan
        options:
          - plan
          - apply

permissions:
  id-token: write
  contents: read

env:
  TF_ROOT: terraform
  TF_WORKSPACE: default
  AWS_REGION: ap-south-1

jobs:

  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.0

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform Init
        working-directory: ${{ env.TF_ROOT }}
        run: terraform init -input=false

      - name: Terraform Format
        working-directory: ${{ env.TF_ROOT }}
        run: terraform fmt -check -recursive

      - name: Terraform Validate
        working-directory: ${{ env.TF_ROOT }}
        run: terraform validate

      - name: Terraform Plan
        id: plan
        working-directory: ${{ env.TF_ROOT }}
        run: |
          terraform plan -out=tfplan.binary
          terraform show -json tfplan.binary > tfplan.json

      - name: Upload Plan Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: terraform-plan
          path: |
            ${{ env.TF_ROOT }}/tfplan.binary
            ${{ env.TF_ROOT }}/tfplan.json


  terraform-apply:
    needs: terraform
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && github.event.inputs.action == 'apply'
    environment: production

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Download Plan Artifacts
        uses: actions/download-artifact@v4
        with:
          name: terraform-plan
          path: ${{ env.TF_ROOT }}

      - name: Terraform Apply
        working-directory: ${{ env.TF_ROOT }}
        run: terraform apply -input=false tfplan.binary
